body, html {
    height: 100%;
    }
    .bg {
    background-image: url("../../assets/dddragons-blur.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }