html,
body,
body > div {
  /* the react root */
  margin: 0;
  padding: 0;
  height: 50%;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

.navbar-collapse > ul {
  margin: 0;
  padding: 0;
}

.navbar-nav > li {
  margin: 0.5em 0.5em;
  padding: 0;
}

b {
  /* used for event dates/times */
  margin-right: 1px;
}

.calendar {
  display: flex;
  min-height: 50%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.calendar-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  /* the calendar root */
  width: 100%;
  margin: 0 auto;
}

.textarea {
  padding: 3rem;
}
