.nav {
  background-color: #333;
  font-family: 'Eczar', serif;
 }

.nav-link {
  /* padding: 1em 0.5em; */
  color: white;
  display: inline-block;
}

.nav-link:hover {
  background-color: #555;
}

.nav-link:visited {
  color: #aaa;
}

.nav-link-active {
  background-color: darkblue;
}
.logo {
  width: "10%";
  height: "10%";
}
